*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/cidade.jpg);
    background-position: top;
    background-size: 101% 37%;
    background-repeat: no-repeat;
}

#cabeçalho{
    width: 100%;
    background-color: rgb(37, 37, 37);
    height: 45px;
}

#cabeçalho-container{
    width: 16%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#foto-nome{
    width: 100%;
}

#Minha-foto{
    width: 25%;
    margin-left: 37%;
}


#foto-nome-container{
    width: 100%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

#fotoluccas{
    width: 29%;
}

.nome-container{
    width: 35%;
}

#contato{
   width: 25%;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

#titulocontato{
    padding-bottom: 5%;
    color: white;
    font-weight: 700;
}

#telefone{
    margin-top: 11px;
    padding-left: 3px;
    color: white;
    font-weight: 700;
}

#telefone-container{
    display: flex;
    margin-top: 5%;
}

#Nome{
    color: white;
    margin-top: 1%;
    padding: 1%;
    text-align: center;
}

#Contato-container{
    width: 50%;
    color: white;
    margin-top: 10%;
    margin-left: 8%;
}

#Formas-de-contato-container{
    border-radius: 15px;
    padding: 5%;
    background-color: rgb(37 37 37 / 72%);
}

.Formas-de-contato{
    padding-bottom: 4%;
}

#Email-container{
    display: flex;
    padding-bottom: 4%;
}

#email-foto{
    width: 10%;
    height: 10%;
}

.email{
    margin-top: 6px;
    padding-left: 3%;
    font-size: 67%;
}

#Telefone-container{
    display: flex;
    width: 100%;
}

#telefone-foto{
    width: 10%;
    height: 10%;
    padding-top: 5%;
}

.telefone{
    margin-top: 15px;
    font-size: 75%;
    padding-left: 3%;
}

#sobremim{
    width: 100%;
    margin-top: 195px;
}

#sobremim-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#titulo-sobremim{
    padding-bottom: 27px;
    padding-top: 27px;
    border-top: 0.4px solid black;
    width: 27%;
    text-align: center;
}

#conteudo{
    width: 100%;
}

#conteudo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#sobremim-conteudo{
    width: 50%;
    padding-bottom: 45px;
}


#redes{
    width: 100%;
}

#redes-container{
    display: flex;
    justify-content: space-between;
}

a{
    display: flex;
    justify-content: center;
}

#github{
    width: 32%;
    margin-left: 15%;
    padding-top: 4%;
    padding-bottom: 9%;
}

#insta{
    width: 33%;
    margin-right: 15%;
    padding-top: 4%;
    padding-bottom: 9%;
}

#linkedin{
    width: 33%;
    padding-top: 4%;
    padding-bottom: 9%;
}

#titulo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.projetos-container{
    border-top: 0.4px solid black;
    width: 27%;
    display: flex;
    justify-content: center;
}

#projetos-titulo{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}


#galeria{
    width: 100%;
}

#galeria-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fotos{
    display: inline-block;
    width: 80%;
    padding-bottom: 100px;
}

a:hover .fotos{
    filter: blur(0px);
    transform: scale(1.07);
}

a:hover #insta{
    filter: blur(0px);
    transform: scale(1.07);
}

a:hover #linkedin{
    filter: blur(0px);
    transform: scale(1.07);
}

a:hover #github{
    filter: blur(0px);
    transform: scale(1.07);
}

#espaço2{
    width: 100%;
    display: flex;
    justify-content: center;
}

#espaço-container{
    width: 12%;
    padding: 15px;
}

#linha{
    border-top: 0.4px solid black;
}

